# ignore
*.ign

# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Folders
obj/
bin/
depr/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

## Mac OSX specific
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Code::Blocks project files
*.cbp
*.depend

